<h2 class="medicine-details-heading">Medicine Details</h2>

<div *ngIf="medicine" class="medicine-details-container">
  <div class="medicine-image">
    <img *ngIf="medicine.Image" [src]="'assets/images/' + medicine.Image" alt="{{ medicine.Name }}">
    <img *ngIf="!medicine.Image" src="assets/images/medicine_default.jpg" alt="Default Image">
  </div>

  <div class="medicine-info">
    <h3 class="medicine-name">{{ medicine.Name }}</h3>
    <h4 class="medicine-price">{{ medicine.Price | currency }}</h4>
    <p class="medicine-description"><strong>Seller:</strong> {{medicine.Seller}}</p>
    <p class="medicine-description">{{ medicine.Description2 }}</p>
    <button class="btn btn-primary" (click)="addToCart(medicine)">Add to Cart</button>
  </div>
</div>
